</div>
</div>
</div>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
{% if page == "overview" %}
<script src="/static/js/chart.umd.js"></script>
<script src="/static/js/charts/current.status.min.js"></script>
<script src="/static/js/overview.min.js"></script>
{% endif %}
{% if page == "solar" %}
<script src="/static/js/solar.min.js"></script>
{% endif %}
{% if page == "grid" %}
<script src="/static/js/grid.min.js"></script>
{% endif %}
</body>

</html>