<div class="col-sm-auto bg-dark sticky-top">
    <div class="d-flex flex-sm-column flex-row flex-nowrap bg-dark align-items-center sticky-top">
        <a href="https://github.com/derkalle4/opendtu-shelly3em-nulleinspeisung" target="_blank" class="d-block p-3 link-light text-decoration-none" title="" data-bs-toggle="tooltip"
            data-bs-placement="right" data-bs-original-title="Github Repository">
            <i class="bi bi-lightbulb-fill fs-1"></i>
        </a>
        <ul
            class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
            <li class="nav-item">
                <a href="/" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                    data-bs-original-title="Übersicht">
                    <i class="bi-house fs-1"></i>
                </a>
            </li>
            <li>
                <a href="/solar" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-original-title="Solaranlage">
                    <i class="bi bi-sun fs-1"></i>
                </a>
            </li>
            <li>
                <a href="/grid" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                    data-bs-original-title="Hausanschluss">
                    <i class="bi bi-plug fs-1"></i>
                </a>
            </li>
        </ul>
    </div>
</div>