{% include 'header.html' %}

<h1>Solarpanele</h1>

{% include 'components/opendtu_connection.html' %}

<ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
    {% for item in config_opendtu %}
    <li class="nav-item" role="presentation">
        <a class="nav-link{% if loop.index == 1 %} active{% endif %}" id="tab-{{ item }}-link" data-bs-toggle="tab"
            href="#tab-{{ item }}" role="tab" aria-controls="tab-{{ item }}" aria-selected="true">
            {{ config_opendtu[item]['name'] }}
        </a>
    </li>
    {% endfor %}
</ul>

<div class="tab-content" id="tab-content">
    {% for item in config_opendtu %}
    <div class="tab-pane fade show{% if loop.index == 1 %} active{% endif %}" id="tab-{{ item }}" role="tabpanel"
        aria-labelledby="tab-{{ item }}">
        <h2>{{ config_opendtu[item]['name'] }}</h2>

        <!-- check for dtu connection -->
        {% if not 'status/reachable' in mqtt_data.opendtu[item] or mqtt_data.opendtu[item]['status/reachable'] == 0 %}
        <div class="alert alert-danger" role="alert">
            Offline :(
        </div>
        {% endif %}

        <div class="row">
            <div class="col col-12 col-md-6 col-lg-4 px-2 py-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Aktuelles Limit
                        </h5>
                        <div class="row">
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.status/limit_relative">
                                {% if item in mqtt_data.opendtu and 'status/limit_relative' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["status/limit_relative"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                %
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.status/limit_absolute">
                                {% if item in mqtt_data.opendtu and 'status/limit_absolute' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["status/limit_absolute"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                Watt
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-4 px-2 py-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Wechselrichter
                        </h5>
                        <div class="row">
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.0/powerdc">
                                {% if item in mqtt_data.opendtu and '0/powerdc' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["0/powerdc"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                Watt DC
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.0/power">
                                {% if item in mqtt_data.opendtu and '0/power' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["0/power"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                Watt AC
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.0/current">
                                {% if item in mqtt_data.opendtu and '0/current' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["0/current"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                A
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.0/voltage">
                                {% if item in mqtt_data.opendtu and '0/voltage' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["0/voltage"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                V
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.0/frequency">
                                {% if item in mqtt_data.opendtu and '0/frequency' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["0/frequency"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                Hz
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.0/yieldday">
                                {% if item in mqtt_data.opendtu and '0/yieldday' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["0/yieldday"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Tag
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.0/yieldtotal">
                                {% if item in mqtt_data.opendtu and '0/yieldtotal' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["0/yieldtotal"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Gesamt
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.0/powerfactor">
                                {% if item in mqtt_data.opendtu and '0/powerfactor' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["0/powerfactor"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                Powerfaktor
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.0/efficiency">
                                {% if item in mqtt_data.opendtu and '0/efficiency' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["0/efficiency"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                Effizienz (%)
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.0/reactivepower">
                                {% if item in mqtt_data.opendtu and '0/reactivepower' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["0/reactivepower"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                Blindleistung
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.0/temperature">
                                {% if item in mqtt_data.opendtu and '0/temperature' in mqtt_data.opendtu[item]%}
                                {{ mqtt_data.opendtu[item]["0/temperature"] }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            <div class="col col-6 text-start">
                                Temperatur (°C)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if '1/power' in mqtt_data.opendtu[item] %}
            <div class="col col-12 col-md-6 col-lg-4 px-2 py-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Solarpanel 1
                        </h5>
                        <div class="row">
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.1/power">
                                {{ mqtt_data.opendtu[item]["1/power"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Watt
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.1/current">
                                {{ mqtt_data.opendtu[item]["1/current"] }}
                            </div>
                            <div class="col col-6 text-start">
                                A
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.1/voltage">
                                {{ mqtt_data.opendtu[item]["1/voltage"] }}
                            </div>
                            <div class="col col-6 text-start">
                                V
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.1/yieldday">
                                {{ mqtt_data.opendtu[item]["1/yieldday"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Tag
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.1/yieldtotal">
                                {{ mqtt_data.opendtu[item]["1/yieldtotal"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Gesamt
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if '2/power' in mqtt_data.opendtu[item] %}
            <div class="col col-12 col-md-6 col-lg-4 px-2 py-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Solarpanel 2
                        </h5>
                        <div class="row">
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.2/power">
                                {{ mqtt_data.opendtu[item]["2/power"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Watt
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.2/current">
                                {{ mqtt_data.opendtu[item]["2/current"] }}
                            </div>
                            <div class="col col-6 text-start">
                                A
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.2/voltage">
                                {{ mqtt_data.opendtu[item]["2/voltage"] }}
                            </div>
                            <div class="col col-6 text-start">
                                V
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.2/yieldday">
                                {{ mqtt_data.opendtu[item]["2/yieldday"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Tag
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.2/yieldtotal">
                                {{ mqtt_data.opendtu[item]["2/yieldtotal"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Gesamt
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if '3/power' in mqtt_data.opendtu[item] %}
            <div class="col col-12 col-md-6 col-lg-4 px-2 py-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Solarpanel 3
                        </h5>
                        <div class="row">
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.3/power">
                                {{ mqtt_data.opendtu[item]["3/power"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Watt
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.3/current">
                                {{ mqtt_data.opendtu[item]["3/current"] }}
                            </div>
                            <div class="col col-6 text-start">
                                A
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.3/voltage">
                                {{ mqtt_data.opendtu[item]["3/voltage"] }}
                            </div>
                            <div class="col col-6 text-start">
                                V
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.3/yieldday">
                                {{ mqtt_data.opendtu[item]["3/yieldday"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Tag
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.3/yieldtotal">
                                {{ mqtt_data.opendtu[item]["3/yieldtotal"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Gesamt
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if '4/power' in mqtt_data.opendtu[item] %}
            <div class="col col-12 col-md-6 col-lg-4 px-2 py-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Solarpanel 4
                        </h5>
                        <div class="row">
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.4/power">
                                {{ mqtt_data.opendtu[item]["4/power"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Watt
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.4/current">
                                {{ mqtt_data.opendtu[item]["4/current"] }}
                            </div>
                            <div class="col col-6 text-start">
                                A
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.4/voltage">
                                {{ mqtt_data.opendtu[item]["4/voltage"] }}
                            </div>
                            <div class="col col-6 text-start">
                                V
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.4/yieldday">
                                {{ mqtt_data.opendtu[item]["4/yieldday"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Tag
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.4/yieldtotal">
                                {{ mqtt_data.opendtu[item]["4/yieldtotal"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Gesamt
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if '5/power' in mqtt_data.opendtu[item] %}
            <div class="col col-12 col-md-6 col-lg-4 px-2 py-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Solarpanel 5
                        </h5>
                        <div class="row">
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.5/power">
                                {{ mqtt_data.opendtu[item]["5/power"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Watt
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.5/current">
                                {{ mqtt_data.opendtu[item]["5/current"] }}
                            </div>
                            <div class="col col-6 text-start">
                                A
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.5/voltage">
                                {{ mqtt_data.opendtu[item]["5/voltage"] }}
                            </div>
                            <div class="col col-6 text-start">
                                V
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.5/yieldday">
                                {{ mqtt_data.opendtu[item]["5/yieldday"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Tag
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.5/yieldtotal">
                                {{ mqtt_data.opendtu[item]["5/yieldtotal"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Gesamt
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if '6/power' in mqtt_data.opendtu[item] %}
            <div class="col col-12 col-md-6 col-lg-4 px-2 py-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Solarpanel 6
                        </h5>
                        <div class="row">
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.6/power">
                                {{ mqtt_data.opendtu[item]["6/power"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Watt
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.6/current">
                                {{ mqtt_data.opendtu[item]["6/current"] }}
                            </div>
                            <div class="col col-6 text-start">
                                A
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.6/voltage">
                                {{ mqtt_data.opendtu[item]["6/voltage"] }}
                            </div>
                            <div class="col col-6 text-start">
                                V
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.6/yieldday">
                                {{ mqtt_data.opendtu[item]["6/yieldday"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Tag
                            </div>
                            <div class="col col-6 text-end" data-pull="opendtu.{{ item }}.6/yieldtotal">
                                {{ mqtt_data.opendtu[item]["6/yieldtotal"] }}
                            </div>
                            <div class="col col-6 text-start">
                                Wh/Gesamt
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% include 'footer.html' %}